:root.theme-dark {
    --background-image: var(--background-image-dark);
    --background-color: var(--color-dark);
    --title-decoration-color: var(--color-neon);
    --decoration-element-color: var(--color-red);
    --title-text-color: var(--color-red);
    --title-text-accent-color: var(--color-dark);
    --main-text-color: var(--color-pink-light);
    --accent-color: var(--color-red);
    --accent-color-rgb: var(--color-red-rgb);
    --theme-switcher-color: var(--color-red);
    --theme-switcher-color-rgb: var(--color-red-rgb);
}