:root.theme-light {
    --background-image: var(--background-image-light);
    --background-color: var(--color-white);
    --title-decoration-color: var(--color-pink-lighter);
    --decoration-element-color: var(--color-dark-light);
    --title-text-color: var(--color-dark);
    --accent-color: var(--color-pink);
    --accent-color-rgb: var(--color-pink-rgb);
    --main-text-color: var(--color-dark);
    --theme-switcher-color: var(--color-dark-light);
    --theme-switcher-color-rgb: var(--color-dark-light-rgb);
}

@media (prefers-color-scheme: light) {

    :root {
        --background-image: var(--background-image-light);
        --background-color: var(--color-white);
        --title-decoration-color: var(--color-pink-lighter);
        --decoration-element-color: var(--color-dark-light);
        --title-text-color: var(--color-dark);
        --accent-color: var(--color-pink);
        --accent-color-rgb: var(--color-pink-rgb);
        --main-text-color: var(--color-dark);
        --theme-switcher-color: var(--color-dark-light);
        --theme-switcher-color-rgb: var(--color-dark-light-rgb);
    }

    :root.theme-auto .header__decorative-text {
        display: none;
    }
}

:root.theme-light .header__decorative-text {
    display: none;
}
